{% extends 'sells/head.html' %}
{% load static %}

{%block title%}
    我的收藏
{% endblock %}
{% block content %}

{#<link rel="stylesheet" href="{% static "/css/collection.css"%}">#}
<link rel="stylesheet" href={% static "/css/showmypublish.css" %} />
    	<div class="taitou">
    	</div>
    	<div class="daohang1">
    		<h2 style="margin-left: 20px;margin-top: 10px;">个人中心</h2>
    		<hr style="width: 100px;border:1px solid #DEDEDE;padding: 0;margin-left: 20px;" />
    		<ul class="list">
    			<li class="list-item">
    				<a href="{% url 'login_res:xinxi' %}">我的信息</a>
    			</li>
    			<li class="list-item">
    				<a href="{% url "sells:showmypublish" %}">我发布的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="{% url "cart:cart_detail" %}">我收藏的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="#">我买到的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="">我卖出的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="">消息</a>
    			</li>
    		</ul>
    	</div>
    	<div class="main_content">
    		<p style="font-size: 20px;font-family:'agency fb';margin-top: 30px;margin-left: 30px;color: #FFA500;"><strong>我的收藏</strong></p>
    	{% for item in cart %}
            {% with product=item.product %}
    		<div class="publish_content">
    			<div class="product_image">
    				<a href="{{ product.get_absolute_url }}"><img style="width:95px;height:145px" src="
                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"/></a>
    			</div>
    			<div class="product_descript">
    				<div class="product_name">
    					<h3>{{ product.name }}</h3>
    				    <p style="color: #FFA500;font-size:18px;">￥{{ product.price }}</p>
    				    <p>{{ product.category }}</p>
    				</div>
    				<div class="remove">    				    							
    				<a href="{% url 'cart:cart_remove' product.id %}">移除收藏</a> 
    				</div> 
    			</div>
    		</div>
    		{% endwith %}
    		{% endfor %}
    	</div>
{% endblock %}
