{% extends "sells/head.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0;padding: 0;">
    {% block content %}
    <link rel="stylesheet" href={% static "css/showmypublish.css" %} />
    <link rel="stylesheet" href={% static "css/moco.min.css" %} />
    <link rel="stylesheet" href={% static "css/profile-less.css" %} />
        <div class="taitou">
        </div>
        <div class="daohang">
            <h2 style="margin-left: 20px;margin-top: 10px;">个人中心</h2>
            <hr style="width: 100px;border:1px solid #DEDEDE;padding: 0;margin-left: 20px;" />
            <ul class="list">
                <li class="list-item">
                    <a href="{% url 'login_res:xinxi' %}">我的信息</a>
                </li>
                <li class="list-item">
                    <a href="{% url "sells:showmypublish" %}">我发布的宝贝</a>
                </li>
                <li class="list-item">
                    <a href="{% url "cart:cart_detail" %}">我收藏的宝贝</a>
                </li>
                <li class="list-item">
                    <a href="#">我买到的宝贝</a>
                </li>
                <li class="list-item">
                    <a href="">我卖出的宝贝</a>
                </li>
                <li class="list-item">
                    <a href="">消息</a>
                </li>
            </ul>
        </div>
        <div class="main_content">
            <p style="font-size: 20px;font-family:'agency fb';margin-top: 30px;margin-left: 30px;color: #FFA500;"><strong>我的信息</strong></p>
            <div class="contentBox">
                <div class="formBox">
                    <div id="setting-profile" class="setting-wrap setting-profile">

                        <div class="wlfg-wrap clearfix ">
                            <label class="label-name" for="job">头像：</label>
                            <div class="rlf-group">
                                <img class="fl avator-img" id="js-portrait"
                                     src="{% static "img/头像.png" %}"
                                     width="180" height="180">
                                <div class="cb"></div>
                                <p class="rlf-tip-wrap errorHint color-red"></p>
                            </div>
                        </div>

                        <form class="form-horizontal" method="post" action="{% url 'login_res:do_xinxi' %}">
                            {#<form class="navbar-form navbar-left" method="post" action="{% url 'login_res:do_xinxi' %}">#}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">学号</label>
                                <div class="col-sm-4">
                                    <input type="text" name="stuid" id="inputEmail3" 
                                           data-validate="require-nick" class="moco-form-control" placeholder="陈佳媚"
                                           readonly="true" required
                                           value="{{ stuid }}">{% if request.session.error %}
                                    {{ request.session.error }}
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-4">
                                    <input type="text" name="username" id="inputEmail3" autocomplete="off"
                                           data-validate="require-nick" class="moco-form-control" placeholder=""
                                           required value="{{ username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-4">
                                    {% if sex == "男" %}
                                    <select class="form-control" name="sex">
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                     {% else %}
                                     <select class="form-control" name="sex">
                                        <option>女</option>
                                        <option>男</option>
                                    </select>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">年龄</label>
                                <div class="col-sm-4">
                                    {% if age == None %}

                                        <input type="text" name="age" id="inputEmail3" autocomplete="off"
                                               data-validate="require-nick" class="moco-form-control"
                                               placeholder="请输入年龄" required value="">
                                    {% else %}

                                        <input type="text" name="age" id="inputEmail3" autocomplete="off"
                                               data-validate="require-nick" class="moco-form-control"
                                               placeholder="请输入年龄" required value="{{ age }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">电话号码</label>
                                <div class="col-sm-4">
                                    <input type="text" name="tele" id="inputEmail3" autocomplete="off"
                                           data-validate="require-nick" class="moco-form-control" placeholder="请输入电话"
                                           required value="{{ tele }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-4">
                                    {% if eml == None %}

                                        <input type="text" name="eml" id="inputEmail3" autocomplete="off"
                                               data-validate="require-nick" class="moco-form-control"
                                               placeholder="请输入邮箱" required value="">
                                    {% else %}

                                        <input type="text" name="eml" id="inputEmail3" autocomplete="off"
                                               data-validate="require-nick" class="moco-form-control"
                                               placeholder="请输入邮箱" required value="{{ eml }}">
                                    {% endif %}

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">个人简介</label>
                                <div class="col-sm-4">
                                    <textarea class="moco-form-control" rows="3" name="jianjie">{{ jianjie }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="submit" class="rlf-btn-green btn-block profile-btn"
                                            data-toggle="modal"
                                            data-target=".bs-example-modal-sm" hidefocus="true" aria-role="button">保存
                                    </button>
                                </div>
                            </div>
                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                                 aria-labelledby="mySmallModalLabel">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <hr>
                                        <div class="form-group has-success has-feedback">
                                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                                  aria-hidden="true"></span>
                                        </div>
                                        <h4>修改成功</h4>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
              </div>
{% endblock %}
</body>
</html>