<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>弍货收藏界面</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../static/css/collection.css" />


	</head>
	<body>

		<h4>
			<div style="left: 1080px;position: absolute;top:30px;">首页</div>
			<div style="left: 1150px;position: absolute;top:30px;">发布闲置</div>
			<div style="left: 1250px;position: absolute;top:30px;color: darkorange;">个人中心</div>
		</h4>

		<div id="div1" style="left: 1240px;position: absolute;top:10px;color:"> </div>
		<style>
			#div1 {
						margin-top: 48px;
						width: 88px;
						border-bottom: 1px solid #FF8C00;
					}
				</style>
		<h3>
			<div style="left: 940px;position: absolute;top:90px;color:orange;">搜 索</div>
		</h3>

		<img class="img5" src="../static/img/logo.png">
		<img class="img6" src="../static/img/搜索.PNG">
		<img class="img7" src="../static/img/timg.jpg">
		<h2>
			<div class="div1">我的信息</div>
			<div class="div2">我的收藏</div>
			<div class="div3">我卖出的宝贝</div>
			<div class="div4">我买到的宝贝</div>
			<div class="div5">消息</div>
		</h2>

		<img class="img1" src="../static/img/clothes.jpg">
		<img class="img2" src="../static/img/camera.jpg">
		<img class="img3" src="../static/img/3.jpg">
		<img class="img4" src="../static/img/4.jpg" onclick="location.href='detailinfo.html'">

		<h3>
			<div class="div6">风衣外套</div>
			<div class="div7">尼康 Nikon D90</div>
			<div class="div8">￥35</div>
			<div class="div9">￥2750</div>
		</h3>

		<h3>
			<div class="div10">香奈儿山茶花保湿套装</div>
			<div class="div11" onclick="location.href='detailinfo.html'">计算机操作系统</div>
			<div class="div12">￥1600</div>
			<div class="div13" onclick="location.href='detailinfo.html'">￥17.6</div>
		</h3>
		<h4>
			<div class="div14"> 1 2 3 4...8 下一页</div>
		</h4>

		<canvas id="canvas" width="1100" height="900"></canvas>
		<script type="text/javascript">
			var canvas = document.getElementById("canvas");
			var context = canvas.getContext("2d");
			context.fillStyle = "white";
			context.strokeStyle = "#B7BCC0 50px";
			context.strokeRect(395, 170, 600, 680);
			context.fillRect(395, 170, 600, 680);
		</script>
	<canvas id="canvas" width="1100" height="40"></canvas>
		<script type="text/javascript">
			var canvas = document.getElementById("canvas");
			var context2 = canvas.getContext("2d");
			context2.fillStyle = "white";
			context2.strokeStyle = "#FF8C00";
			context2.strokeRect(395, 60, 600, 40);
			context2.fillRect(395, 60, 600, 40);
		</script>
	</body>
</html>
