{% extends "sells/head.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/iconfont/iconfont.css" %}">
    <link rel="stylesheet" href="{% static "css/good_info.css" %}">
    <div class="goods_detail_con">
        <div class="goods_detail_pic">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}">
        </div>
        <div class="goods_detail_list">
            <h2>{{ product.name }}</h2>
            <div class="total_p">
                <h4>卖出价：</h4>
                <p class="price">￥{{ product.price }}</p>
                <div style="clear: both"></div>
            </div>
            <div class="total_g">
                <p>商品种类：{{ product.category }}</p><br>
                <p>成色：{{ product.gold }} </p><br>
                <p>联系方式：{{ product.tel }}</p><br>
                <p>发布时间：{{ product.created }}</p><br>
            </div>
            <div class="btn">
                <ul>
                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
                    <li><a class="buy_btn" href="">立即购买</a></li>
               <input type="submit" value="收藏" class="col" href="#">
  
 
    </form>
    
                    <li><a class="col" href="#">分享</a></li>
                    <div style="clear: both"></div>
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="other">
            <div class="safe">
                <i class="iconfont">&#xe609;</i>
                <h3>安全交易</h3>
                <p>当面验货OK，再当面付款。</p>
            </div>
            <div class="safe">
                <i class="iconfont">&#xe6a4;</i>
                <h3>实名认证</h3>
                <p>经学校系统核实学生身份,真实可靠。</p></div>
            <div class="o_other"><h3>该卖家的其他宝贝</h3>
                <p>暂无其他宝贝</p></div>
        </div>
    </div>
    <div class="main_wrap">
        <div class="title"><h3>商品详情</h3></div>
        <div class="s_content">
            {{ product.description|linebreaks }}
        </div>
    </div>
{% endblock %}

