<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/detailinfo.css" />
	</head>
	<body>
		<div class="search_bar clearfix">
			<div class="logo fl">
				<img style="width:150px;heigth:80px;margin-left:-18px;" src="img/logo.png" />
			</div>
			<div class="search_con fl">
				<form action="/search/" target="_blank">
					<input name="q" class="input_text f1" type="text" placeholder="搜索商品"/>
					<input name="" class="input_btn fr" type="submit" value="搜索" />
				</form>
			</div>
			<div class="head fr">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">发布闲置</a></li>
					<li><a href="#">个人中心</a></li>
				</ul>
			</div>
		</div>
		<div class="goods_detail_con clearfix">
			<div class="goods_detail_pic fl">
				<img src="img/i5.png" style="width:350px;height:350px;"/> 
			</div>
			<div class="goods_detail_list fr">
				<h3><em>计算机操作系统教程 清华大学出版社</em></h3>
				<div class="total">
					卖出价：
					<em>17.60</em>
				</div>
				<div class="total">
					成色：&nbsp;&nbsp;八成新
				</div>
				<div class="topic">
					<p>联系方式：&nbsp;&nbsp;<span>通过弍货直接联系</span></p>
        	        <p><span style="margin-left: 100px;">893****1321</span></p>
        	        <p><span style="margin-left: 100px;">138****3540</span></p>
				</div>
				<div class="operate_btn">
					<a class="buy_btn" href="">立即购买</a>
				</div>
				<div class="share">
					<ul>
						<li><a href="#">收藏</a></li>
						<li><a href="#">分享</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main_wrap clearfix">
			<div class="r_wrap fl clearfix">
				<ul class="detail_tab clearfix">
					<li class="active introd">商品详情</li>
					<li class="comment">用户评论</li>
				</ul>
				<div class="tab_content"><!--需修改-->
					<div></div>
				</div>
			</div>
		</div>
	</body>
</html>
