<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发布闲置</title>
		<link type="text/css" rel="stylesheet" href="css/detailinfo.css" />
	</head>
	<body>
		<div id="commonTopbar" class="commonTopbar" style="min-width: 1190px;">
			<div class="w pos">
				<div class="bar_left">
					<h2>杭州</h2>
					<span id="commonTopbar_ipconfig">
						"["
						<a href="" target="_self" tongji_tag="pc_topbar_log_changcity" style="margin-left:0; padding:0 3px;">切换城市</a>
						"]"
					</span>
				</div>
				<div class="bar_right">
					<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">发布闲置</a></li>
					<li><a href="#">个人中心</a></li>
				    </ul>
				</div>	
			</div>
		</div>
		<div class="hh-bar clearfix">
			::before
			<div class="hh-bar1">
				<span>二手手机</span>
				<a href="#" id="chongxuanleibie">重选类别</a>
				::after
			</div>
			<div class="hh-bar2 hh-bar-active">
				::before
				"2.填写信息"
				::after
			</div>
			<div class="hh-bar3">
				::before
				"3.完成发布"
				::after
			</div>
			::after
		</div>
		
	</body>
</html>
