<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>弍货</title>
    <meta http-equiv="erhuo" content="IE=edge, chrome=1">
    
    <link rel="stylesheet" href="../static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/common-less(1).css" type="text/css" />
    <link rel="stylesheet" href="../static/css/moco.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/common-less.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/profile-less.css" type="text/css" />
    <style type="text/css">
        body {background-image:url(../static/img/background.jpg); background-position:center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size:cover;
    }
        </style>

</head>

<body>
    <li><a href="detail.html">返回首页</a></li>
<div id="main">

    <div class="page-settings">
        <div class="top">
            <div class="w960 mauto top_title">
                <p>个人信息</p>

            </div>
        </div>
        <div class="setting pb10">
            <div class="nav-tabs pa">
                <a href="Scond.html" class="baseinfo fl active">信息显示</a>
                <a href="Personal.html" class="countinfo fl">信息设置</a>
                <div class="cb"></div>
            </div>
            <div class="contentBox">
                <div class="formBox">
                    <div id="setting-profile" class="setting-wrap setting-profile">

                        <div class="wlfg-wrap clearfix ">
                            <div class="rlf-group">
                                <img class="fl avator-img" id="js-portrait" src="https://b-ssl.duitang.com/uploads/item/201607/21/20160721183004_xkjza.jpeg" width="180" height="180">
                                <div class="cb"></div>
                                <p class="rlf-tip-wrap errorHint color-red" ></p>
                            </div>
                        </div>

                        <form id="profile" >

                            <div class="wlfg-wrap clearfix">
                                <p style="font-size:20px"><b>昵称：xyw</b></p>
                            </div>
                            <br>
                            <div class="wlfg-wrap clearfix">
                                <p style="font-size:20px"><b>姓名：徐烨雯</b></p>
                            </div>
                            <br>
                            <div class="wlfg-wrap clearfix">
                                <p style="font-size:20px"><b>学号：2016210402104</b></p>
                            </div>
                            <br>
                            <div class="wlfg-wrap clearfix">
                                <p style="font-size:20px"><b>手机号：15990018419</b></p>
                            </div>
                            <br>
                            <div class="wlfg-wrap clearfix">
                                <p style="font-size:20px"><b>性别：女</b></p>
                            </div>
                            <br>
                            <div class="wlfg-wrap clearfix">
                                <p style="font-size:20px"><b>个性签名：无</b></p>
                            </div>
                            <br>
                            <!-- <div class="wlfg-wrap clearfix">
                                <label class="label-name" for="profile-submit"></label>
                                <div class="rlf-group">
                                    <span id="profile-submit"  hidefocus="true"  aria-role="button" class="rlf-btn-green btn-block profile-btn">保存</span>
                                </div>
                            </div> -->
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>