<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/detailinfo.css" />
	</head>
	<body>
		<div class="search_bar clearfix">
			<div class="logo fl">
				<img style="width:150px;heigth:80px;margin-left:-18px;" src="img/logo.png" />
			</div>
			<div class="search_con fl">
				<form action="/search/" target="_blank">
					<input name="q" class="input_text f1" type="text" placeholder="搜索商品"/>
					<input name="" class="input_btn fr" type="submit" value="搜索" />
				</form>
			</div>
			<div class="head fr">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">发布闲置</a></li>
					<li><a href="#">个人中心</a></li>
				</ul>
			</div>
		</div>
		<div class="breadcrumb">
			<a href="#">全部分类</a>
			<span>></span>
			<a href="#">书籍</a>
		</div>
		<div class="main_wrap clearfix">
			<div class="l_wrap fl clearfix">
				<div class="new_goods">
					<h3>新品推荐</h3>
					<ul>
						<li>
							<a href=""><img src="img/book2.jpg"/></a>
							<h4><a href="">服务外包质量管理</a></h4>
							<div class="prize">￥15.00</div>
						</li>
						<li>
							<a href=""><img src="img/book3.jpg"/></a>
							<h4><a href="">操作系统</a></h4>
							<div class="prize">￥25.00</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="r_wrap fr clearfix">
				<div class="sort_bar">
					<a class="active" href="">默认</a>
					<a class="active" href="">价格</a>
					<a class="active" href="">人气</a>
				</div>
				<ul class="goods_type_list clearfix">
					<li>
						<a href=""><img src="img/6.6.jpg"/></a>
						<h4><a href="">毛巾</a></h4>
						<div class="operate">
							<span class="prize">￥10.00</span>
						</div>
					</li>
					<li>
						<a href=""><img src="img/camera.jpg"/></a>
						<h4><a href="">相机</a></h4>
						<div class="operate">
							<span class="prize">￥500.00</span>
						</div>
					</li>
					<li>
						<a href=""><img src="img/clothes.jpg"/></a>
						<h4><a href="">风衣</a></h4>
						<div class="operate">
							<span class="prize">￥100.00</span>
						</div>
					</li>
					<li>
						<a href=""><img src="img/book1.jpg"/></a>
						<h4><a href="">大家的日语</a></h4>
						<div class="operate">
							<span class="prize">￥10.00</span>
						</div>
					</li>
					<li>
						<a href=""><img src="img/python.jpg"/></a>
						<h4><a href="">python金融数据挖掘与分析</a></h4>
						<div class="operate">
							<span class="prize">￥10.00</span>
						</div>
					</li>
				</ul>
				<div class="pagenation">
					<a id="toleft" href=""><上一页</a>
					<a class="active" href="">1</a>
					<a id="toright" href>下一页></a>
				</div>
			</div>
		</div>
		
	</body>
</html>

