{% extends "sells/head.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title></title>
</head>
<body style="margin: 0;padding: 0;">
    {% block content %}
    <link rel="stylesheet" href={% static "css/showmypublish.css" %} />
    	<div class="cont">
        <div class="daohang1">
    		<h2 style="margin-left: 20px;margin-top: 10px;">个人中心</h2>
    		<hr style="width: 100px;border:1px solid #DEDEDE;padding: 0;margin-left: 20px;" />
    		<ul class="list">
    			<li class="list-item">
    				<a href="{% url 'login_res:xinxi' %}">我的信息</a>
    			</li>
    			<li class="list-item">
    				<a href="{% url "sells:showmypublish" %}">我发布的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="{% url "cart:cart_detail" %}">我收藏的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="#">我买到的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="">我卖出的宝贝</a>
    			</li>
    			<li class="list-item">
    				<a href="">消息</a>
    			</li>
    		</ul>
    	</div>
    	<div class="main_content">
    		<p style="font-size: 20px;font-family:'agency fb';margin-top: 30px;margin-left: 30px;color: #FFA500;"><strong>我的发布</strong></p>
    	{% for product in products %}
    		<div class="publish_content">
    			<div class="product_image">
    				<a href="{{ product.get_absolute_url }}"><img style="width:95px;height:145px" src="
                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"/></a>
    			</div>
    			<div class="product_descript">
    				<div class="product_name">
    					<h3>{{ product.name }}</h3>
    				    <p style="color: #FFA500;font-size:18px;">￥{{ product.price }}</p>
    				    <p>{{ product.category }}</p>
    				</div>
    				<span style="color: #FFA500;margin-left: 500px;margin-top: 50px;display: inline-block;">待售出</span>
    			</div>
    			<div class="product_edit">
    				<span style="margin-left:650px;margin-bottom: 10px;">修改信息&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;删除信息&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;付费推广</span>
              </div>
    		</div>
    		{% endfor %}
    	</div>
        <div style="clear: both"></div>
        </div>

    	 {% endblock %}
</body>
</html>
