{% extends "sells/head.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href={% static "css/detail.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <div class="top-main">
        <img src="../../../static/img/come%20on.png" alt="" width="300px">
        <div class="search-wrapper">
            <div class="search-box">
                <div data-toggle="arrowdown" id="arrow8" class="search-toggle">
                    宝贝
                </div>
                <input class="search-in" type="text" placeholder="    搜 '高等数学’ 试试,好好学习,天天向上">
                <input type="button" class="search-but" value="搜索">

            </div>

            <!--other-search-->
            <div class="other-search">
                <a href="#">高等数学</a>
                <a href="#">数据结构</a>
                <a href="#">充电宝</a>
                <a href="#">面膜</a>
                <a href="#">瑜伽垫</a>
                <a href="#">打底裤</a>
                <a href="#">蚊帐</a>
                <a href="#">凉鞋</a>
                <a href="#">男士T恤</a>
                <a href="#">连衣裙</a>
                <a href="#">时尚女包</a>
                <a href="#">女士T恤</a>
                <a href="#">雪纺衫</a>

                <a href="#" class="more-other">更多<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="sub-nav">
        <!--sub-nav-cell-->
        <div class="sub-nav-cell">
            <h3 class="orange">主题市场</h3>
            <ul class="sub-nav-box">
                {% for c in categories %}
                    <li>
                        <h4><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></h4>
                    </li>
                {% endfor %}

            </ul>
        </div>
        {#        轮播图#}
        <div class="content">
            <a href="#"><img src="../../../static/img/糕点.jpg"></a>
        </div>
        <div class="user-info">
            <a href="#"><img src="../../../static/img/头像.png" width="250px"></a>
            <h3>hi,{{ stuid }}</h3>
        </div>

    </div>

    {#最新发布#}
    <div class="recommend">
        <div class="circle">
            <h3>最新发布</h3>
        </div>
        <div class="re">
            <ul>
                {% for product in new_products %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="

                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <div>
                            <div class="good_name">{{ product.name }}</div>
                            <div class="good_price">￥{{ product.price }}</div>
                            <div style="clear:both;"></div>
                            <button>{{ product.category }}</button>
                        </div>
                    </li>

                {% endfor %}

                <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        </div>

    </div>
    <div class="kinds">
        <div class="kinds_name">
            <ul>
                <li>
                    <a href="{% url "sells:product_list" %}"><h3>所有</h3></a>
                </li>
                {% for c in categories %}
                    <li>
                        <a href="{{ c.get_absolute_url }}"><h3>{{ c.name }}</h3></a>
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div class="just-look" id="just-look">
            <ul>

                {% for product in products %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="

                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <div>
                            <div class="good_name">{{ product.name }}</div>
                            <div class="good_price">￥{{ product.price }}</div>
                        </div>
                    </li>

                {% endfor %}

                <div style="clear:both;"></div>
            </ul>

        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}
