{% extends "sells/head.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
</head>
<body>
{% block content %}
    <link rel="stylesheet" href={% static "css/detail.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <div class="top-main">
        <img src="../../../static/img/come%20on.png" alt="" width="300px">
        <div class="search-wrapper">
            <div class="search-box">
                <div data-toggle="arrowdown" id="arrow8" class="search-toggle">
                    宝贝
                </div>
                <input class="search-in" type="text" placeholder="    搜 '高等数学’ 试试,好好学习,天天向上">
                <input type="button" class="search-but" value="搜索">

            </div>

            <!--other-search-->
            <div class="other-search">
                <a href="#">高等数学</a>
                <a href="#">数据结构</a>
                <a href="#">充电宝</a>
                <a href="#">面膜</a>
                <a href="#">瑜伽垫</a>
                <a href="#">打底裤</a>
                <a href="#">蚊帐</a>
                <a href="#">凉鞋</a>
                <a href="#">男士T恤</a>
                <a href="#">连衣裙</a>
                <a href="#">时尚女包</a>
                <a href="#">女士T恤</a>
                <a href="#">雪纺衫</a>

                <a href="#" class="more-other">更多<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="sub-nav">
        <!--sub-nav-cell-->
        <div class="sub-nav-cell">
            <h3 class="orange">主题市场</h3>
            <ul class="sub-nav-box">
                <li><a href="#just-look">所有</a></li>
                {% for c in categories %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
                <li><a href="#">学习用品</a></li>
                <li><a href="#">书籍</a></li>
                <li><a href="#">试卷</a></li>
                <li><a href="#">文具</a></li>
                <li><a href="#">美食饮品</a></li>
                <li><a href="#">零食</a></li>
                <li><a href="#">生鲜</a></li>
                <li><a href="#">饮料</a></li>
                <li><a href="#">美妆护肤</a></li>
                <li><a href="#">彩妆</a></li>
                <li><a href="#">洗护</a></li>
                <li><a href="#">护肤品</a></li>
                <li><a href="#">鞋服配饰</a></li>
                <li><a href="#">服装</a></li>
                <li><a href="#">箱包</a></li>
                <li><a href="#">配饰</a></li>
                <li><a href="#">交通工具</a></li>
                <li><a href="#">自行车</a></li>
                <li><a href="#">电动车</a></li>
                <li><a href="#">轮滑</a></li>
                <li><a href="#">数码产品</a></li>
                <li><a href="#">手机</a></li>
                <li><a href="#">相机</a></li>
                <li><a href="#">电脑</a></li>


            </ul>
        </div>

        {#        轮播图#}
        <div class="content">
            <a href="#"><img src="../../../static/img/糕点.jpg"></a>
        </div>
        <div class="user-info">
            <a href="#"><img src="../../../static/img/头像.png" width="250px"></a>
            <h3>hi,{{ stuid }}</h3>
        </div>

    </div>

    {#个性推荐#}
    <div class="recommend">
        <div class="circle">
            <h3>最新发布</h3>
        </div>
        <div class="re">
            <ul>
                {% for product in new_products %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <div>
                            <div class="good_name">{{ product.name }}</div>
                            <div class="good_price">￥{{ product.price }}</div>
                              <div style="clear:both;"></div>
                            <button>{{ product.category }}</button>
                        </div>
                    </li>

                {% endfor %}

                 <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        </div>

    </div>
    <div class="kinds">
        <div class="kinds_name">
            <ul>
                <li>
                    <a href="{% url "sells:product_list" %}"><h3>所有</h3></a>
                </li>
                {% for c in categories %}
                    <li>
                        <a href="{{ c.get_absolute_url }}"><h3>{{ c.name }}</h3></a>
                    </li>

                {% endfor %}
            </ul>
        </div>

        <div class="just-look" id="just-look">
            <ul>

                {% for product in products %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                    {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <div>
                            <div class="good_name">{{ product.name }}</div>
                            <div class="good_price">￥{{ product.price }}</div>
                        </div>
                    </li>

                {% endfor %}

                <div style="clear:both;"></div>
            </ul>

        </div>
     <div style="clear:both;"></div>
    </div>






{% endblock %}


</body>
</html>
