/*我发布的样式*/
.taitou
{
	margin:10px auto;
	width:1000px;
	height: 150px;
	background-color: white;
	background-image: url(../../../static/img/taitou.png);
	background-repeat:no-repeat;
	background-size: 100% 100%; /*让背景图片铺满整个背景*/
	border-radius: 5px;
}
/*.zhanghao
{
	width: 1000px;
	height:150px ;
	margin-left:10px;
	vertical-align: middle;
}
.zhanghao h1{color: white;margin-left:10px;margin-top:10px}
.zhanghao p{color:  white;margin-left:10px;margin-top:10px}*/
.cont{
	width: 1190px;
	margin:auto;

}
.daohang1
{
	width:150px;
	height: 600px;
	background-color: white;
	border: 1px solid #EDEDED;
	margin-left: 10px;
	margin-top: 30px;
	float: left;
}
.list
{
	padding: 0;
}
.list-item
{
	list-style:none;
	margin-left: 20px;
	margin-top: 20px;
}

.list-item a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #3C3C3C;
}
.list-item a:hover
{
	color:red;
}
.main_content
{
	margin-left: 20px;
	margin-top: 30px;
	width: 1000px;
	height:100%;
	background-color: white;
	border: 1px solid #EDEDED;
	float: left;
}
.publish_content
{
	background-color: white;
	border: 1px solid #EDEDED;
	width: 950px;
	height: 160px;
	margin-left: 25px;
	margin-top: 20px;
}
.product_image
{
	float: left;
	text-align: center;
	margin-left: 10px;
	margin-top:10px;
	width: 150px;
	height: 120px;
}
.product_descript
{
	width: 700px;
	height: 120px;
	margin-left: 10px;
	margin-top:10px;
	float: left;
}
.product_name
{
	float: left;
	width: 150px;
	height: 120px;
}
.remove
{
width: 150px;
height: 120px;
margin-left:600px;
margin-top:50px;
	}
.remove a{
	display:inline-block;
	text-decoration: none;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #FFA500;
}
.product_edit
{
	width: 950px;
	height: 30px;
	float: right;
}
